= render layout: 'page',
         locals: { supplier: @supplier, selected_tab: :about } do
  .well
    - if @supplier.description.present?
      = @supplier.description.html_safe
    - else
      = Spree.t(:supplier_has_no_description)